header .header-logo a, header .header-nav ul li a, .articles .card-article a, footer .row li a, .articles-bear a, .panier a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-logo {
  margin-top: 20px;
  padding-left: 30px;
  width: 50%;
}

header .header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-logo a img {
  width: 85px;
  height: 65px;
}

header .header-logo a h1 {
  line-height: 25px;
  padding-left: 15px;
}

header .header-nav {
  width: 50%;
}

header .header-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-nav ul li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 80px;
  font-size: 1.5em;
  padding-right: 45px;
  padding-left: 25px;
}

.research {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3d3d3d;
  background-color: #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.research .research-category {
  width: 16.66667%;
  text-align: center;
  margin: 0;
  height: 30px;
  line-height: 33px;
}

.research .search {
  width: 83.33333%;
  padding: 0;
  margin: 0;
}

.research .search .search-input {
  width: 96.3%;
  height: 30px;
}

.research .search .search-submit {
  left: -10px;
  width: 3%;
  height: 36px;
  border: none;
}

.articles {
  height: 600px;
}

.articles .card-article {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 30px;
  overflow: hidden;
}

.articles .card-article a .card-img {
  height: 250px;
  width: 300px;
  padding: 0;
}

.articles .card-article a .card-img img {
  height: 100%;
  width: 100%;
}

.articles .card-article a .card-description {
  height: 50px;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0px;
}

.articles .card-article a .card-description .card-name {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 10px;
}

.articles .card-article a .card-description .card-price {
  font-size: 1em;
  padding: 10px 0;
}

.articles .card-article a .card-description .card-color {
  font-size: 1em;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  background-color: #e2e2e2;
}

footer .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .row ul {
  list-style: none;
  padding: 0;
  width: 16.66667%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .row h2 {
  margin: 0 0 8px 0;
  font-size: 1.2em;
}

footer .row li {
  padding: 0 0 5px 0;
}

.Tan {
  height: 20px;
  width: 20px;
  background-color: tan;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Chocolate {
  height: 20px;
  width: 20px;
  background-color: chocolate;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Black {
  height: 20px;
  width: 20px;
  background-color: black;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.White {
  height: 20px;
  width: 20px;
  background-color: white;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Palebrown {
  height: 20px;
  width: 20px;
  background-color: rgba(167, 67, 67, 0.644);
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Darckbrown {
  height: 20px;
  width: 20px;
  background-color: rgba(97, 30, 30, 0.644);
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Brown {
  height: 20px;
  width: 20px;
  background-color: brown;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Blue {
  height: 20px;
  width: 20px;
  background-color: blue;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Pink {
  height: 20px;
  width: 20px;
  background-color: pink;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.Beige {
  height: 20px;
  width: 20px;
  background-color: beige;
  position: relative;
  top: -3px;
  border-radius: 10px;
  border: 1px solid black;
}

.card-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-articles .card-img {
  padding-left: 100px;
  width: 50%;
  height: 600px;
}

.card-articles .card-img img {
  width: 100%;
  height: 100%;
}

.card-articles .card-descriptif {
  padding-top: 125px;
  width: 25%;
}

.card-articles .card-descriptif h2 {
  text-align: center;
  padding-bottom: 50px;
}

.card-articles .card-descriptif p {
  text-align: center;
  padding-bottom: 50px;
}

.articles-bear {
  position: relative;
}

.articles-bear a i {
  font-size: 1.5em;
  position: absolute;
  left: 35px;
  top: 20px;
}

.panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  position: relative;
}

.panier a i {
  font-size: 1.5em;
  position: absolute;
  left: 35px;
  top: 20px;
}

.panier .panier-resume {
  border: 1px solid black;
  margin-right: 150px;
  padding: 50px;
  height: 600px;
}

.panier .panier-price {
  border: 1px solid black;
  padding: 50px;
  height: 100px;
}

.panier .panier-price .panier-validator {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */