.Tan{
    @extend %Class-color;
    background-color: tan;
}
.Chocolate{
    @extend %Class-color;
    background-color: chocolate;
}
.Black{
    @extend %Class-color;
    background-color: black;
}
.White{
    @extend %Class-color;
    background-color: white;
}
.Pale{
    @extend %Class-color;
    background-color: rgba(167, 67, 67, 0.644);
}
.Dark{
    @extend %Class-color;
    background-color: rgba(97, 30, 30, 0.644);
}
.Brown{
    @extend %Class-color;
    background-color: brown;
}
.Blue{
    @extend %Class-color;
    background-color: blue;
}
.Pink{
    @extend %Class-color;
    background-color: pink;
}
.Beige{
    @extend %Class-color;
    background-color: beige;
}

