// Color

$primary: #e2e2e2;

// Width

$col1: 8.33333333333%;
$col2: 16.6666666667%;
$col3: 25%;
$col4: 33.333%;
$col5: 41.6666666667%;
$col6: 50%;
$col7: 58.3333333333%;
$col8: 66.6666666667%;
$col9: 75%;
$col10: 83.3333333333%;
$col11: 91.6666666667%;
$col12: 100%;