.teddy-articles{
    position: relative;
    h2{
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }
    a{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 2em;
    }
    .teddy-card-articles{
        width: auto;
        padding-bottom: 70px;
        .teddy-card-article{
            display: flex;
            justify-content: center;
            @include ecran{
                flex-direction: column;
                height: auto;
            }
            img{
                width: 700px;
                height: 500px;
                margin-top: 70px;
                border: 1px solid black;
                @include ecran{
                    align-self: center;
                }
            }
            .teddy-card-descriptif{
                width: $col4;
                align-self: center;
                @include ecran{
                    width: $col12;
                }
                h3{
                    font-size: 2em;
                    padding: 0 0 20px 80px;
                    @include ecran{
                        text-align: center;
                    }
                }
                p{
                    font-size: 1.3em;
                    padding-left: 50px;
                    @include ecran{
                        text-align: center;
                    }
                }
                .teddy-add{
                    position: relative;
                    @extend %link-style-none;
                    border: 1px solid black;
                    padding: 5px;
                    background-color: blueviolet;
                    color: white;
                    font-size: 1.3em;
                    margin-left: 20px;
                    @include ecran{
                        margin-left: 100px;
                    }
                }
                .teddy-card-description{
                    padding-bottom: 15px;
                }
                .teddy-card-color{
                    display: flex;
                    flex-direction: row;
                    line-height: 0;
                    padding: 30px 0;
                    @include ecran{
                        justify-content: center;
                    }
                    p{
                        font-size: 1.3em;
                        padding-right: 20px;
                    }
                    .select-color{
                        overflow-y: visible;
                        padding: 0 0px 10px 0;
                        margin: 0;
                        border: none;
                        overflow-x: visible;
                        text-align: center;
                        option{
                            margin-bottom: 10px;
                            &:active{
                                background: transparent;
                            }
                        }
                    }
                    .select-color-name{
                        display: flex;
                        flex-direction: column;
                        font-size: 13px;
                    }
                }
                .teddy-card-number{
                    display: flex;
                    flex-direction: row;
                    line-height: 0;
                    padding-bottom: 20px;
                    @include ecran{
                        padding-left: 80px;
                    }
                    p{
                        padding-right: 5px;
                    }
                    #select-number{
                        height: 1.3em;
                        align-self: center;
                        text-align: center;
                        width: 50px;
                        
                    }
                }
            }
        }   
    }
}