.teddy-articles{
    position: relative;
    h2{
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }
    a{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 2em;
    }
    .teddy-card-articles{
        width: auto;
        padding-bottom: 70px;
        .teddy-card-article{
            display: flex;
            height: 600px;
            justify-content: center;
            img{
                width: 700px;
                height: 500px;
                margin-top: 70px;
                border: 1px solid black;
            }
            .teddy-card-description{
                width: $col4;
                align-self: center;
                h3{
                    font-size: 2em;
                    padding: 0 0 20px 80px;
                }
                p{
                    font-size: 1.3em;
                    padding-left: 50px;
                }
                .teddy-card-color{
                    display: flex;
                    flex-direction: row;
                    line-height: 0;
                    p{
                        font-size: 1.3em;
                    }
                    div{
                        margin-left: 10px;
                    }
                }
            }
        }   
    }
}