.id{
    visibility: hidden;
    position: absolute;
    z-index: -9999;
}

.teddy-articles{
    position: relative;
    h2{
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }
    a{
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 2em;
    }
    .teddy-card-articles{
        width: auto;
        padding-bottom: 70px;
        .teddy-card-article{
            display: flex;
            height: 600px;
            img{
                width: $col7;
                height: auto;
            }
            .teddy-card-description{
                width: $col5;
                align-self: center;
                h3{
                    font-size: 2em;
                    padding: 0 0 20px 10px;
                }
                p{
                    font-size: 1.3em;
                    padding: 0 0 20px 0;
                }
                .teddy-card-color{
                    display: flex;
                    flex-direction: row;
                    line-height: 0px;
                    justify-content: space-between;
                    width: 250px;
                }
            }
        }   
    }
}