footer{
    background-color: $primary;
    .row{
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        @include ecran{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include mobile-only{
            flex-direction: column;
            align-content: center;
        }
        div{
            padding: 0;
            h2{
                font-size: 1.2em;
                @include mobile-only{
                    font-size:initial;
                    font-style: none;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    padding-bottom: 7px;
                    a{
                        @extend %link-style-none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }  
}