.menu-btn{
    visibility: hidden;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .menu{
        position: absolute;
        .row{
            display: flex;
            flex-direction: row;
            .category{
                width: $col4;
                .container-row{
                    @extend %container-row;
                }
            }
            .filtres{
                width: $col4;
                .container-row{
                    @extend %container-row;
                }
            }
        }
    }
}

.menu-background{
    background-color: #979696;
    height: 100%;
    width: $col12;
    top: 0;
    left: 0;
    position:initial !important;
}

.menu-btn-appear{
    visibility: visible;
}