.resultOrder{
    text-align: center;
    padding: 200px 0 250px 0;
    @include mobile-only{
        padding: 100px 0 150px 0;
    }
    .messageCart{
        h2{
            font-size: 3em;
            @include mobile-only{
                font-size: 2em;
            }
        }
        p{
            font-size: 1.5em;
            padding: 30px 0 80px 0;
            span{
                font-weight: bold;
            }
        }
        a{
            @extend %link-style-none;
            font-size: 1.3em;
            border: 1px solid black;
            padding: 10px;
            color: white;
            background-color: purple;
        }
    }
}