footer{
    background-color: $primary;
    .row{
        justify-content: space-around;
        div{
            padding: 20px 0;
            h2{
                font-size: 1.2em;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    padding-bottom: 7px;
                    a{
                        @extend %link-style-none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }  
}