.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    @include mobile-only{
        width: 300px;
    }
    @include tablette-only{
        max-width: 450px;            
    }
    
    a{
        position: absolute;
        font-size: 1.5em;
        top: -20px;
        left: -50px;
        @extend %link-style-none;
        @include mobile-only{
            left: -10px;
            top: -30px;
        }
        @include ecran{
            left: -10px;
            top: -30px;
        }
    }
    .product-header{
        width: 100%;
        max-width: 650px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 4px solid lightgray;
        margin: 0 auto;
        .product-title{
            width: 45%;
        }
        .price{
            width: 15%;
            display: flex;
            align-items: center;
        }
        .quantity{
            width: 30%;
            display: flex;
            align-items: center;
        }
        .total{
            width: 10%;
            display: flex;
            align-items: center;
        }
    }
    .products{
        position: relative;
        padding: 10px 0;
        .product{
            width: 100%;
            flex-direction: row;
            height: 150px;
            display: flex;
            .cardImg{
                width: 40%;
                position: relative;
                i{
                    position: absolute;
                    top: 70px;
                    z-index: 9;
                    left: 0;
                    @include mobile-only{
                        left: -15px;
                    }
                    @include ecran{
                        left: -15px;
                    }
                }
                img{
                    padding-left: 10px;
                    height: 150px;
                    width: 200px;
                    @include mobile-only{
                        display: none;
                    }
                    @include ecran{
                        padding-left: 25px;
                        padding-top: 15px;
                        height: 100px;
                        width: 150px;
                    }
                }
                span{
                    position: absolute;
                    top: 70px;
                    right: 5px;
                    @include mobile-only{
                        left: 10px;
                    }
                    @include ecran{
                        left: 10px;
                    }
                }
            }
            .price{
                width: 15%;
                text-align: center;
                align-self: center;
            }
            .quantity{
                width: 30%;
                text-align: center;
                align-self: center;
                a{
                    position: initial;
                    i{
                        font-size: 1.2em;
                        line-height: 0
                    }
                }
                span{
                    font-size: 2em;
                }
            }
            .total{
                width: 15%;
                text-align: center;
                align-self: center;
            }
        }
        .panierTotalContainer{
            position: absolute;
            display: flex;
            right: 10px;
            bottom: -100px;
            .panierTotal{
                padding-left: 10px;
            }
        }
    }
}