.panier{
    display: flex;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    a{
        @extend %link-style-none;
        i{
            font-size: 1.5em;
            position: absolute;
            left: 35px;
            top: 20px;
        }  
    }
    .panier-resume{
        border: 1px solid black;
        margin-right: 150px;
        padding: 50px;
        height: 600px;
    }
    .panier-price{
        border: 1px solid black;
        padding: 50px;
        height: 100px;
        .panier-validator{
            margin-left: 10px;
        }
    }
}

