.Tan{
    height: 20px;
    width: 20px;
    background-color: tan;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Chocolate{
    height: 20px;
    width: 20px;
    background-color: chocolate;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Black{
    height: 20px;
    width: 20px;
    background-color: black;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.White{
    height: 20px;
    width: 20px;
    background-color: white;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Palebrown{
    height: 20px;
    width: 20px;
    background-color: rgba(167, 67, 67, 0.644);
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Darckbrown{
    height: 20px;
    width: 20px;
    background-color: rgba(97, 30, 30, 0.644);
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Brown{
    height: 20px;
    width: 20px;
    background-color: brown;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Blue{
    height: 20px;
    width: 20px;
    background-color: blue;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Pink{
    height: 20px;
    width: 20px;
    background-color: pink;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}
.Beige{
    height: 20px;
    width: 20px;
    background-color: beige;
    position: relative;
    top: -3px;
    border-radius: 10px;
    border: 1px solid black;
}

